@using LeagueOfLegends.Models
@using System.Data.Entity
@model LeagueOfLegends.Models.ChampionSummary

@{
    Layout = null;
    ChampionInfo championInfo = (ChampionInfo)ViewData["ChampionInfo"];
    ChampionSpell[] championSpells = (ChampionSpell[])ViewData["ChampionSpells"];
    String championTypeString = (String)ViewData["ChampionTypeString"];
}

<div id="left">
    <h5>@Model.name, @Model.title</h5>
    <div class="champion-header">
        <img src="~/Images/Champions/Icon/@Model.ChampionImage.full" />
        <div id="champion-skillbars">
            <div class="meter">
                <div>Attack: </div>
                <meter value="@championInfo.attack" class="@(@championInfo.attack == 10.00 ? "meterFull" : "")" min="0" max="10"></meter>
            </div>
            <div class="meter">
                <div>Defense: </div>
                <meter value="@championInfo.defense" class="@(@championInfo.defense == 10.00 ? "meterFull" : "")" min="0" max="10"></meter>
            </div>
            <div class="meter">
                <div>Magic: </div>
                <meter value="@championInfo.magic" class="@(@championInfo.magic == 10.00 ? "meterFull" : "")" min="0" max="10"></meter>
            </div>
            <div class="meter">
                <div>Difficulty: </div>
                <meter value="@championInfo.difficulty" class="@(@championInfo.difficulty == 10.00 ? "meterFull" : "")" min="0" max="10"></meter>
            </div>
        </div>
    </div>
    <div class="champion-lore">
        <h6>Lore</h6>
        <p>@Model.lore</p>
    </div>
    <div class="champion-info-basics">
        <p>Champion Types: @championTypeString</p>
        <p>Resource Bar: @Model.partype</p>
    </div>
</div>
<div id="right">
    <div class="spellContainer">
        @{ 
            ChampionPassive passive = Model.ChampionPassive;
        }
        <img src="~/Images/Champions/Passive/@passive.PassiveImage.full" />
        <p>
            @passive.name
            <br />
            @Html.Raw(passive.description)
        </p>
    </div>
    @foreach (ChampionSpell spell in championSpells)
    {
        <div class="spellContainer">
            <img src="~/Images/Champions/Spell/@spell.SpellImage.full" />
            <p>
                @spell.name
                <br />
                @Html.Raw(spell.description)
            </p>
        </div>
    }
</div>