@using LeagueOfLegends.Models

@{
    ViewBag.Title = "Summoner Profile";
}

<h4 style="margin: 0 auto;">@ViewBag.summoner.name</h4>
<h5 style="margin-bottom: 30px;">Summoner Level: @ViewBag.summoner.summonerLevel</h5>
@foreach (Match match in ViewBag.matchList.matches)
{
    using (LeagueOfLegendsStaticDataEntities db = new LeagueOfLegendsStaticDataEntities())
    {
        Champion champion = db.Champions.Where(s => s.id == match.champion).FirstOrDefault();
        <a href=@Url.Action("MatchDetails", "Home", new { matchId = match.gameId, championId = match.champion })>
            <div class="matchListTile">
                <div class="matchChampionIcon">
                    <img src="~/Images/Champions/Icon/@champion.image" style="width: 100%; height: auto;" />
                </div>
                <div class="matchDetails">
                    <p>@champion.champion_name</p>
                    <p>@match.role</p>
                    <p>@match.lane</p>
                </div>
            </div>
        </a>
    }
}
