@using LeagueOfLegends.Models

@{
    ViewBag.Title = "Summoner Profile";

    //Load the match history data for the past 20 games into a PlayerDataAnalyzer object and perform calculations
    DataAnalyzer analyzer = new DataAnalyzer(ViewBag.matchList, 20);
    Dictionary<String, double> statsMatrix = analyzer.calculateAverageStats(ViewBag.accountID);
}

<div class="body-main-container">
    <h4 style="margin: 10px auto;">@ViewBag.summoner.name</h4>
    <h5 style="margin: 10px auto;">Summoner Level: @ViewBag.summoner.summonerLevel</h5>
    <h5 style="margin: 10px auto;">Win Rate in Past 20 Games: @statsMatrix["winrate"]%</h5>
    <h5 style="margin: 10px auto;">Average Stats: @statsMatrix["kills"]/@statsMatrix["deaths"]/@statsMatrix["assists"]</h5>
    <h5 style="margin: 10px auto;">Average Minion Score: @statsMatrix["minionscore"]</h5>
    <h5 style="margin-bottom: 30px;">Past @ViewBag.matchList.totalGames Games</h5>

    @foreach (Match match in ViewBag.matchList.matches)
    {
        using (LeagueOfLegendsStaticDataEntities db = new LeagueOfLegendsStaticDataEntities())
        {
            Champion champion = db.Champions.Where(s => s.id == match.champion).FirstOrDefault();
            <a href=@Url.Action("MatchDetails", "Home", new { matchId = match.gameId, championId = match.champion })>
                <div class="matchListTile">
                    <div class="matchChampionIcon">
                        <img src="~/Images/Champions/Icon/@champion.image" style="width: 100%; height: auto;" />
                    </div>
                    <div class="matchDetails">
                        <p>@champion.champion_name</p>
                        <p>@match.role</p>
                        <p>@match.lane</p>
                    </div>
                </div>
            </a>
        }
    }
</div>